<!DOCTYPE html>
<html ng-app="JobApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
  </head>
  <body ng-controller="applicantController">
	  
    <div class="container">
      <h1>Applicants</h1>
      <ul id="applications" class="list-unstyled">
        <li ng-repeat="applicant in applicants">
          Description:  {{applicant.name}} </br> 
          Description:  {{applicant.bio}} </br> 
          Description:  {{applicant.skills}} </br> 
          Description:  {{applicant.years}} </br> 
          Description:  {{applicant.why}} </br>
          <button ng-click="deleteByID(applicant._id)">
            Delete This Fool
          </button>
        </li>
      </ul>
    </div>
	  
	<script src="/javascripts/main.js"></script>

  </body>
</html>